{% extends "base.html" %}

{% block header %}
    <link href="{{ url_for('static', filename='DateTimePicker.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="ui container" id="content">
        <br><br>
        <h4 class="ui dividing header">话务查询</h4>
        <form class="ui form">
            <div class="field">
                <label>选择小区</label>
                <div class="ui fluid search selection dropdown">
                    <input type="hidden" name="country" value="kp">
                    <i class="dropdown icon"></i>
                    <input class="search" id="bts_name">
                    <div class="default text">Search...</div>
                    <div class="menu">
                        {% for item in names %}
                            <div class="item">{{ item }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="field">
                <label>查询日期</label>
                <input type="text" data-field="date" id="date" readonly>
            </div>
            <div class="field">
                <label>查询起始时间</label>
                <input type="text" data-field="time" id="begin_time" readonly>
            </div>
            <div class="field">
                <label>查询截止时间</label>
                <input type="text" data-field="time" id="end_time" readonly>
            </div>
            <div id="dtBox"></div>
            <div class="ui segment">
                <div class="field">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" name="gift" tabindex="0" class="hidden">
                        <label>作为15分钟级进行查询</label>
                    </div>
                </div>
            </div>
            <div class="ui teal submit button" id="submit">查询</div>
        </form>
        <br>
        <div id="chart" style="width: 600px;height:400px;"></div>
        <div id="chart2" style="width: 600px;height:400px;"></div>

    </div>
{% endblock %}

{% block footer %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='DateTimePicker.min.js') }}"></script>
    <script src="{{ url_for('static', filename='DatetimePicker-i18n-zh-CN.js') }}"></script>
    <script src="//cdn.bootcss.com/echarts/3.2.1/echarts.min.js"></script>
    <script>
        $(document).ready(function()
        {
            $("#dtBox").DateTimePicker({
                language: "zh-CN"
            });

            var myChart = echarts.init(document.getElementById('chart'));
            var myChart2 = echarts.init(document.getElementById('chart2'));

            myChart.setOption( {
                title: {
                    text: '话务量统计图'
                },
                tooltip: {},
                legend: {
                    data:['小时级话务量','小时级每线话务量']
                },
                xAxis: {
                    data: []
                },
                yAxis: {},
                series: [{
                    name: '小时级话务量',
                    type: 'line',
                    data: []
                },{
                    name: '小时级每线话务量',
                    type: 'line',
                    data: []
                }]
            });

            myChart2.setOption( {
                title: {
                    text: '比率统计图'
                },
                tooltip: {},
                legend: {
                    data:['小时级拥塞率','小时级半速率话务量比例']
                },
                xAxis: {
                    data: []
                },
                yAxis: {},
                series: [{
                    name: '小时级拥塞率',
                    type: 'line',
                    data: []
                },{
                    name: '小时级半速率话务量比例',
                    type: 'line',
                    data: []
                }]
            });

            $("#submit").click(function () {
                $.post("#",
                        {
                            cell_id: $(".dropdown").dropdown('get text')[0],
                            date: $("#date").val(),
                            is_fifteen: $('.ui.checkbox').checkbox('is checked'),
                            begin_time: $("#begin_time").val(),
                            end_time: $("#end_time").val()
                        },
                        function (data, status) {
                            myChart.setOption({
                                xAxis: {
                                    data: data.time
                                },
                                series: [{
                                    // 根据名字对应到相应的系列
                                    name: '小时级话务量',
                                    data: data.traffavg
                                },{
                                    name: '小时级每线话务量',
                                    data: data.traffline
                                }]
                            });
                            myChart2.setOption({
                                xAxis: {
                                    data: data.time
                                },
                                series: [{
                                    // 根据名字对应到相应的系列
                                    name: '小时级话务量',
                                    data: data.callcongs
                                },{
                                    name: '小时级每线话务量',
                                    data: data.rate
                                }]
                            });
                        });
            });

        });
    </script>
{% endblock %}