<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>中央空调</title>

    <link href="{{ url_for('static', filename='semantic.min.css') }}" rel="stylesheet">
{#    <link href="{{ url_for('static', filename='dataTables.semanticui.min.css') }}" rel="stylesheet">#}
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    {% block header %} {% endblock %}
</head>
<body>

<div class="ui left demo vertical inverted sidebar labeled icon menu">
    <a class="item" href="{{ url_for('data.data') }}">
        数据管理
    </a>
    <div class="item">
        <div class="header">信息查询</div>
        <div class="menu">
            <a class="item" href="{{ url_for('inquiry.station') }}"> 基站信息查询</a>
            <a class="item" href="{{ url_for('inquiry.community') }}"> 小区信息查询</a>
            <a class="item" href="{{ url_for('inquiry.traffic') }}"> 话务统计信息查询</a>
        </div>
    </div>
    <div class="item">
        <div class="header">话务分析</div>
        <div class="menu">
            <a class="item" href=""> 话务数据分布显示/查询</a>
            <a class="item" href="">  话务分析</a>
        </div>
    </div>
    <div class="item">
        <div class="header"> 邻区设置及查询</div>
        <div class="menu">
            <a class="item" href=""> 邻区计算</a>
            <a class="item" href=""> 邻区查询</a>
        </div>
    </div>
</div>


<div class="pusher">
    <div class="ui fixed inverted main menu">
        <a class="launch icon item">
            <i class="content icon"></i>
        </a>
        <div class="item">主机管理 </div>
    </div>
    {% block body %} {% endblock %}
</div>

<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
{#<script src="{{ url_for('static', filename='jquery.dataTables.min.js') }}"></script>#}
{#<script src="{{ url_for('static', filename='dataTables.semanticui.min.js') }}"></script>#}
<script src="{{ url_for('static', filename='semantic.min.js') }}"></script>
<script src="{{ url_for('static', filename='style.js') }}"></script>

<script>
    $('.launch').click(function () {
        $('.ui.labeled.icon.sidebar')
                .sidebar('toggle')
        ;
    });
</script>
{% block footer %} {% endblock %}

</body>
</html>