{% extends "base.html" %}

{% block body %}
  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">每日更新</h5>

            <p class="light">每日及时带给你最新的北邮自习室信息。全面覆盖教一教二教三教四，你最佳的自习助手。</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">用户体验</h5>

            <p class="light">不再需要关注微信、不再需要安装APP、不再需要花费大量流量，收藏我们的网站，一键轻松查询。</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">移动优先</h5>

            <p class="light">同时支持移动端、PC端浏览，简洁、优美的无障碍体验。</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>
{% endblock %}
