{% extends "base.html" %}

{% block body %}

    <div class="ui container" id="content">
        <br><br><br><br>
        <div class="ui positive message" id="shutdown_msg">
            主机已开启。点击
            <a href="#" id="shutdown">这里</a>
            关闭。
        </div>
        <div class="ui blue message" id="time"></div>
        <table id="example" class="ui celled table" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>主机编号</th>
                <th>当前温度</th>
                <th>目标温度</th>
                <th>状态</th>
                <th>风速</th>
                <th>已用量</th>
                <th>费用</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
            </tr>
            <tr>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>63</td>
                <td>2011/07/25</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}