{% extends "base.html" %}

{% block body %}
    <div class="ui container" id="content">
        <br><br>
        <h4 class="ui dividing header">邻区计算</h4>

        <label>距离</label>
        <div class="ui right labeled input">
            <input type="text" id="distance">
            <div class="ui basic label">km </div>
        </div>
        <br><br>
        <button class="ui teal button" id="submit">计算</button>

        <br>
        <div class="ui message" hidden id="result">

        </div>
    </div>
{% endblock %}

{% block footer %}
    <script>
        $(document).ready(function() {
            $("#submit").click(function () {
                $.post("{{ url_for('neighbor.calc') }}",
                        {
                            distance: $("#distance").val()
                        },
                        function (data, status) {
                            if(data['success']){
                                $("#result").text('计算完成！');
                                $("#result").show();
                            }
                        });
            });

        });
    </script>
{% endblock %}